/* Color Schemes:
    - https://coolors.co/
    - https://paletton.com/
*/

*{box-sizing: border-box;
    padding: 2%;
    font-family: 'Merriweather', serif;
}


body {
    background-color: #F6F6F6;
    min-height: 100vh;
    height: 100%;
}

h1 {
    color: #264653;
    text-align: center;
}

p {
    color: #000000;
    text-align: left;
}

p.meta {
    color: #e76f51;
}

.navbar {
    box-shadow: 0px 0px 27px 2px rgba(189, 189, 189, 0.47);
    margin-bottom: 1rem;
}

.navbar-brand {
    padding-left: 1rem;
}

.nav-link {
    padding-left: 1rem;
}

.navbar-collapse {
    padding-left: 1rem;
}

.navbar-toggler {
    margin-right: 1rem;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.welcome-pic {
    width: 20%;
    align-items: center;
}

.card-img-top {
    width: 100%;
    align-items: center;
    border-top: 10%;
}

.card-text {
    text-align: left;
}

h5 {
    text-align: center;
    padding: 1rem 0;
}

.footer {
    background-color: #E8F6EF;
    position: static;
}