<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <meta name="description" content="A simple HTML5 Template for new projects.">
    <meta name="Author" content="Marc Coca Moreno">
    <meta name="Author" content="Aymane El Hanbali">
    <meta name="Author" content="Tomàs Bernaus">
    <link rel="icon" href="./img/Heretics/icon.jpg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <i class="fa-regular fa-handshake"></i> Pràctica 2 - M03
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">

                {% for routes in entry_list.routes %}
                <a class={% if "Home" in routes %} "nav-item nav-link active" {% else %} "nav-item nav-link" {% endif %} href={% if "Home" in routes %} "./index.html" {% else %} "{{ "./" ~routes~".html" }}" {% endif %}>

                {{ routes }}

                </a> 

            {% endfor %}
            </div>

                <ul class="nav navbar-nav ml-auto">
                    <a href="https://github.com/mcocam/M03_Practica_2" class="nav-item nav-link" target="_blank"><i class="fab fa-github fa-2xl"></i></a>
                </ul>
        </div>
    </nav>


    <div class="container fluid">

        <div class="row justify-content-md-center">

            <div class="col-md-auto text-center">
                <img src="{{ entry_list.markdown.Home.welcome.welcome.meta.img[0]|safe }}" class="welcome-pic"> {{ entry_list.markdown.Home.welcome.welcome.content|safe }}
            </div>

            <div class="col-md-auto">
                {{ entry_list.markdown.Home.introduction.introduction.content|safe }}
            </div>

            <div class="row">

                {% for step in entry_list.markdown.Home.steps %}

                <div class="col-xs-6 col-md-4">

                    <div class="card">
                        <img src={{ entry_list.markdown.Home.steps[step].meta.img[0]|safe }} class="mx-auto card-img-top">
                        <div class="card-body">
                            <h4 class="card-title">{{ entry_list.markdown.Home.steps[step].meta.title[0]|safe }}</h4>
                            {{ entry_list.markdown.Home.steps[step].content|safe }}
                        </div>
                    </div>


                </div>

                {% endfor %}


            </div>





        </div>

    </div>


    <div class="fixed-bottom footer">
        <p class="text-center align-middle">Marc | Aymane | Tomàs</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>